.yoopta-mark-code {
  font-size: 100% !important;
}

.yoopta-placeholder:after {
  padding-left: 0 !important;
  font-size: 100% !important;
}

.yoopta-placeholder:after {
  cursor: text;
}

.yoopta-todo-list-checkbox-input {
  min-width: 15px !important;
  min-height: 15px;
}
